{%extends "base.html"%}

{%block content%}
<h2>Title: {{book.name}}</h2>
<h3>Author: {{book.author_cached}}</h3>
<h3>Category: {{book.category_cached}}</h3>

<h4>Related Books</h4>
<ul>
{%for related in book.related_books%}
    <li>
        <p><a href="{{related.get_absolute_url}}">{{related.name}}</a></p>
        <p class="author">{{related.author_cached}}</p>
        <p>{{related.category_cached}}</p>
    </li>
{%endfor%}
</ul>

{%endblock%}



{%block post_content%}

    <h5>Popular Books</h5>

    {%for pop in POPULAR_BOOKS%}
        <div style="float: left; border: 1px dotted black; margin: 1em; padding: 0.5em">
            <p>{{pop.name}}</p>
            <p>{{pop.author_cached}}</p>
        </div>
    {%endfor%}
{%endblock%}
