{%extends "base.html"%}

{%block content%}
    {%if page_obj.has_previous%}<a href="?page={{page_obj.previous_page_number}}">Previous</a>{%endif%}
    Page {{page_obj.number}} of {{paginator.num_pages}}
    {%if page_obj.has_next%}<a href="?page={{page_obj.next_page_number}}">Next</a>{%endif%}

    {%for book in object_list%}
    <div style="border-bottom: 1px dotted black; margin-top: 1em;">
        {{book.name}}
        <p><a href="{{book.get_absolute_url}}">{{book.author_cached}}</a></p>
    </div>
    {%endfor%}

{%endblock%}
