<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%block head%}
      <title>{%block page_title%}{%endblock%}</title>

    {%endblock head%}
    {%block extrahead%} {%endblock extrahead%}
  </head>
  <body>
    {%block body%}

    <div id="nav">
      {%for category in CATEGORIES%}
      <a href="{{category.get_absolute_url}}">{{category}}</a>
      {%endfor%}
    </div>

      {%block pre_content%}{%endblock pre_content%}

      {%block content%}{%endblock content%}

      {%block post_content%}{%endblock post_content%}

    {%endblock body%}
  </body>
</html>
